<div class="routes-container">
  <h1>Routes</h1>

  <table class="routes-table">
    <thead>
      <tr>
        <th>route</th>
        <th>description</th>
        <th>URL</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let route of routes">
        <td>
          <button class="route-link" type="button" (click)="fetchData(route.path)">
            {{ route.path }}
          </button>
        </td>
        <td>{{ route.description }}</td>
        <td>
          <a [href]="route.url" target="_blank">{{ route.url }}</a>
        </td>
        <td>
          <button class="get-button" type="button" (click)="fetchData(route.path)">GET</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="json-section">
    <h3>JSON data</h3>
    <pre>{{ jsonData | json }}</pre>
  </div>
</div>
